{%extends "Game/master.html"%}
{% load staticfiles %}


{% block content  %}
<div style="width:100%;">

  <center><button class="btn btn-danger btn-md" style="position:absolute;margin-top:10%;margin-left:auto;margin-right: auto;">Plus d'infos</button></center>
  <p style="color:white;position:absolute;margin-top:15%;margin-left:20%;margin-right: 20%;font-weight: bold;font-size: 1.4em;"><em>
    Le Paintball est un sport tactique et strategique pour ceux qui veulent se sentir dans la peau du corps
    militaire. c est dans cette vision que la cote d'ivoire c est dotée d'un important espace de jeu a modeste</em>
  </p>
  <img src="{% static "images/caroussel-1.jpg" %}" style="width:100%;height:350px;"/>

</div>


<div class="container" style="margin-left:15%;">
<div class="row">
{%for equipe in equipes%}

  <div
    style="border: 1px solid white; box-shadow: 0 0 5px 5px; border-radius: 7px;padding: 2px;margin-left:15px; margin-right:15px;margin-top:5%;margin-bottom:5%;">
    <img src="{% static 'images/logo-3.jpg' %} " class="rounde-circle" alt="en attente de reseau" style="border-radius:100%;height:63px;width:63px;margin-top:4px;">
    <div >
      <p><em> EQUIPE :<b> {{ equipe.name }}</b> </em></p>
      <p><em> COTE : {{ equipe.cote}}</em> </p>
      <p ><em> DESCRIPTION : {{ equipe.description }}</em> </p>
      {% if user.is_authenticated %}
      <center><a href="{% url 'paris' %}" class="btn btn-dark ">PARIER</a></center>
      {% else %}
      <center><a href="{% url 'login' %}" class="btn btn-success">CONNEXION</a></center>
      {% endif %}
    </div>
  </div>

{% endfor %}
  </div>
</div>

{% endblock  %}
